* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(187, 187, 241);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    /* background-image: url("images/footballField.jpg"); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.setupArea {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    border: solid 20px black;
    justify-content: center;
    align-content: center;
    /* make this a 3x3 grid */
    display: grid;
    grid-template-columns: repeat(3, auto)
}

.cell {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 5px solid rgb(7, 39, 7);
}
